@model StoreOutputDto

<form asp-area="Admin" asp-controller="StoresManagement" asp-action="Edit" method="post">
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input asp-for="Id" readonly class="form-control" />
        <span asp-validation-for="Id"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CreatedAt" class="form-label"></label>
        <input asp-for="CreatedAt" class="form-control" />
        <span asp-validation-for="CreatedAt"></span>
    </div>
    <div class="mb-3">
        <label asp-for="AddressId" class="form-label"></label>
        <input asp-for="AddressId" class="form-control" />
        <span asp-validation-for="AddressId"></span>
    </div>
    <div class="mb-3">
        <label asp-for="SellerId" class="form-label"></label>
        <input asp-for="SellerId" class="form-control" />
        <span asp-validation-for="SellerId"></span>
    </div>

    <button type="submit" class="btn btn-primary">ویرایش</button>
</form>