@model CommentViewModel

@{
    ViewData["Title"] = "نظر شما";
}

<h3 class="text-center m-5"><span class="badge rounded-pill bg-info text-dark p-3">نظر خود را در رابطه با خرید این محصول با ما به اشتراک بگذارید</span></h3>

<div class="card">
    <div class="card-header d-flex float-right m-4">
        نظر شما
    </div>
    <form method="post" asp-action="LeaveComment" asp-controller="Comment">
        <input type="hidden" name="ProductId" value="@Model.ProductId" />
        <input type="hidden" name="UserId" value="@Model.UserId" />

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
        </div>

        <text class="form-group">
            <label asp-for="CommentBody"></label>
            <textarea asp-for="CommentBody" class="form-control" rows="5"></textarea>
        </text>

        <button type="submit" class="btn btn-primary m-2">ثبت نظر</button>
    </form>
</div>