<div class="page-content">
    <div class="cart">
        <div class="container">
            <div class="page404-bg text-center">
                <div class="page404-text">
                    <div class="empty-image">
                        <img src="~/assets/images/empty3.png" alt="">
                    </div>
                    <div class="empty-text display-3">سبد خرید شما خالی است!</div>

                    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary-2 btn-order mt-3">
                        <span>
                            رفتن به
                            فروشگاه و شروع خرید
                        </span><i class="icon-long-arrow-left"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>