@model OrderOutputDto

<table align="center" border="0" cellpadding="0" cellspacing="0"
       style="padding: 0 30px;background-color: #fff; -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353);box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353);width: 100%;">
    <tbody>
        <tr>
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <img src="../assets/images/email-temp/delivery.png" alt="" style="margin-bottom: 30px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../assets/images/email-temp/success.png" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="title">با تشکر</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>پرداخت شما با موفقیت انجام شد و سفارش برای شما ارسال شد.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="border-top:1px solid #777;height:1px;margin-top: 30px;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../assets/images/email-temp/order-success.png" alt=""
                                 style="margin-top: 30px;">
                        </td>
                    </tr>
                </table>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <h2 class="title m-5">جزئیات سفارش شما</h2>
                        </td>
                    </tr>
                </table>
                <table class="order-detail" border="0" cellpadding="0" cellspacing="0" align="right">                       
                    <tr>
                        <td colspan="2"
                            style="line-height: 49px;font-size: 13px;color: #000000;padding-right: 20px;text-align:right;border-left: unset;">
                            جمع سفارش :
                        </td>
                        <td colspan="3" class="price"
                            style="line-height: 49px;text-align: left;padding-left: 28px;font-size: 13px;color: #000000;text-align:left;border-right: unset;">
                            <b>@Model.TotalPrice.ToString("N0") تومان</b>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>