@model UserInformationViewModel

@{
    ViewData["Title"] = "پروفایل من";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<main class="main m-1">
    <div class="page-header text-center" style="background-image: url('~/wwwroot/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">داشبورد<span>@Model.FullName</span></h1>
        </div>
    </div>

    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">خانه</a></li>
                <li class="breadcrumb-item"><a><i class="icon-angle-left"></i>داشبورد</a></li>
            </ol>
        </div>
    </nav>

    <div class="container m-4">
        <div class="row">
            <aside class="col-md-4 col-lg-3">
                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard"
                           role="tab" aria-controls="tab-dashboard" aria-selected="true">داشبورد</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="OrderHistory" asp-controller="Profile" class="nav-link" id="tab-orders-link" data-toggle="tab" role="tab" aria-controls="tab-orders" aria-selected="false">سفارشات من</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-account-link" data-toggle="tab" asp-action="EditProfile" asp-controller="Profile" role="tab"
                           aria-controls="tab-account" aria-selected="false">ویرایش حساب کاربری</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Logout" asp-controller="Account">خروج از حساب کاربری</a>
                    </li>
                </ul>
            </aside>

            <div class="col-md-8 col-lg-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                         aria-labelledby="tab-dashboard-link">
                        <p>
                            سلام <span class="font-weight-normal text-dark">@Model.FullName عزیز، خوش آمدید!</span>
                            <br>
                            شما در اینجا میتوانید <a asp-action="OrderHistory" asp-controller="Profile" class="tab-trigger-link link-underline">
                                سفارشات
                                خود را ببینید
                            </a>
                            یا
                            <a asp-action="EditProfile" asp-controller="Profile">
                                جزئیات حساب کاربری خود را
                                ویرایش
                            </a> کنید.
                        </p>
                    </div>

                    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                        <p>سفارش جدیدی وجود ندارد</p>
                        <a href="category.html" class="btn btn-outline-primary-2">
                            <span>رفتن به فروشگاه</span><i class="icon-long-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tab-orders-link').click();
        });
    </script>
}