<li class="nav-item dropdown show">
    <a class="dropdown-toggle nav-link text-dark" href="#" data-toggle="dropdown">ادمین</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="Admin" asp-controller="UsersManagement" asp-action="Index">مدیریت کاربران</a>
        <a class="dropdown-item" href="#">مدیریت غرفه‌ها</a>
        <a class="dropdown-item" href="#">مدیریت کالاها</a>
    </div>
</li>