@using App.Domain.Core.Entities;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin"))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            پنل ادمین
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item text-black" asp-area="Admin" asp-controller="UsersManagement" asp-action="Index">مدیریت کاربران</a></li>
            <li><a class="dropdown-item text-black" asp-area="Admin" asp-controller="StoresManagement" asp-action="Index">مدیریت غرفه‌ها</a></li>
            <li><a class="dropdown-item text-black" asp-area="Admin" asp-controller="ProductsManagement" asp-action="Index">مدیریت محصولات</a></li>
            <li><a class="dropdown-item text-black" asp-area="Admin" asp-controller="ProductsCommentsManagement" asp-action="Index">مدیریت نظرات محصولات</a></li>
            <li><a class="dropdown-item text-black" asp-area="Admin" asp-controller="StoresCommentsManagement" asp-action="Index">مدیریت نظرات غرفه‌ها</a></li>
            <li><a class="dropdown-item text-black" asp-area="Admin" asp-controller="CommissionsManagement" asp-action="Index">لیست کارمزدها</a></li>
        </ul>
    </li>
}