<div class="blog-section bg-white py-2 pb-4">
    <div class="container">
        <div class="heading heading-flex">
            <div class="heading-left">
                <h2 class="title mb-0 font-weight-bold">از بلاگ ما</h2>
                <!-- End .title -->
            </div>
            <!-- End .heading-left -->

            <div class="heading-right">
                <a href="category.html"
                   class="title-link font-size-normal text-uppercase font-weight-normal">
                    مشاهده پست های
                    بیشتر
                    <i class="icon-long-arrow-left"></i>
                </a>
            </div>
            <!-- End .heading-right -->
        </div>

        <div class="owl-carousel owl-simple row cols-1 cols-sm-2 cols-lg-3 cols-xl-4" data-toggle="owl"
             data-owl-options='{
                            "nav": false,
                            "dots": true,
                            "items": 3,
                            "margin": 20,
                            "loop": false,
                            "rtl": true,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "576": {
                                    "items":2
                                },
                                "992": {
                                    "items":3
                                },
                                "1200": {
                                    "items":4
                                }
                            }
                        }'>
            <article class="entry blog-overlay">
                <figure class="entry-media">
                    <a href="single.html">
                        <img src="assets/images/demos/demo-26/blog/post-1.jpg" alt="image desc" width="335"
                             height="200">
                    </a>
                </figure>
                <!-- End .entry-media -->

                <div class="entry-body">
                    <div class="entry-meta font-size-normal">
                        <a href="#">22 آذر 1401</a>، 0 دیدگاه
                    </div>
                    <!-- End .entry-meta font-size-normal -->

                    <h3 class="entry-title my-4 mt-0">
                        <a href="single.html">لورم ایپسوم متن ساختگی</a>
                    </h3>
                    <!-- End .entry-title -->

                    <div class="entry-content">
                        <p class="font-weight-normal mb-1">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم،
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                            سادگی نامفهوم
                        </p>
                    </div>
                    <!-- End .entry-content -->
                </div>
                <!-- End .entry-body -->
            </article>
            <!-- End .entry -->

            <article class="entry blog-overlay">
                <figure class="entry-media">
                    <a href="single.html">
                        <img src="assets/images/demos/demo-26/blog/post-1.jpg" alt="image desc" width="335"
                             height="200">
                    </a>
                </figure>
                <!-- End .entry-media -->

                <div class="entry-body">
                    <div class="entry-meta font-size-normal">
                        <a href="#">22 آذر 1401</a>، 0 دیدگاه
                    </div>
                    <!-- End .entry-meta font-size-normal -->

                    <h3 class="entry-title my-4 mt-0">
                        <a href="single.html">متن سادگی با تولید سادگی</a>
                    </h3>
                    <!-- End .entry-title -->

                    <div class="entry-content">
                        <p class="font-weight-normal mb-1">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم،
                            لورم ایپسوم متن ساختگی با تولید سادگی لورم ایپسوم متن ساختگی با تولید سادگی
                        </p>
                    </div>
                    <!-- End .entry-content -->
                </div>
                <!-- End .entry-body -->
            </article>
            <!-- End .entry -->

            <article class="entry blog-overlay">
                <figure class="entry-media">
                    <a href="single.html">
                        <img src="assets/images/demos/demo-26/blog/post-2.jpg" alt="image desc" width="335"
                             height="200">
                    </a>
                </figure>
                <!-- End .entry-media -->

                <div class="entry-body">
                    <div class="entry-meta font-size-normal">
                        <a href="#">22 آذر 1401</a>، 0 دیدگاه
                    </div>
                    <!-- End .entry-meta font-size-normal -->

                    <h3 class="entry-title my-4 mt-0">
                        <a href="single.html">تولید سادگی نامفهوم در صنعت چاپ</a>
                    </h3>
                    <!-- End .entry-title -->

                    <div class="entry-content">
                        <p class="font-weight-normal mb-1">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم،
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید
                            سادگی نامفهوم، لورم ایپسوم متن ساختگی
                        </p>
                    </div>
                    <!-- End .entry-content -->
                </div>
                <!-- End .entry-body -->
            </article>
            <!-- End .entry -->

            <article class="entry blog-overlay">
                <figure class="entry-media">
                    <a href="single.html">
                        <img src="assets/images/demos/demo-26/blog/post-3.jpg" alt="image desc" width="335"
                             height="200">
                    </a>
                </figure>
                <!-- End .entry-media -->

                <div class="entry-body">
                    <div class="entry-meta font-size-normal">
                        <a href="#">22 آذر 1401</a>، 0 دیدگاه
                    </div>
                    <!-- End .entry-meta font-size-normal -->

                    <h3 class="entry-title my-4 mt-0">
                        <a href="single.html">متن سادگی نامفهوم</a>
                    </h3>
                    <!-- End .entry-title -->

                    <div class="entry-content">
                        <p class="font-weight-normal mb-1">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم،
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                            سادگی نامفهوم
                        </p>
                    </div>
                    <!-- End .entry-content -->
                </div>
                <!-- End .entry-body -->
            </article>
            <!-- End .entry -->
        </div>
        <!-- End .owl-carousel -->
    </div>
    <!-- End .container -->
    <div class="mb-lg-5"></div>
</div>
<!-- End .blog-posts -->