<footer class="footer footer-2 font-weight-normal second-primary-color" style="background-color: #222">
    <div class="cta cta-horizontal cta-horizontal-box pt-5 pb-5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-4-5col offset-xl-10col">
                    <div class="row align-items-center">
                        <div class="col-lg-5 cta-txt text-lg-left text-center">
                            <h3 class="cta-title text-white my-2 mt-0">عضویت در خبرنامه</h3>
                            <!-- End .cta-title -->
                            <p class="cta-desc font-size-normal second-primary-color font-weight-normal">
                                در خبرنامه ما عضو شوید و از آخرین محصولات و تخفیف های جدید با خبر شوید
                            </p>
                            <!-- End .cta-desc font-size-normal -->
                        </div>
                        <!-- End .col-lg-5 -->

                        <div class="col-lg-7">
                            <form action="#" class="d-flex justify-content-end justify-content-center">
                                <div class="input-group">
                                    <input type="email" class="form-control mr-0 font-weight-normal"
                                           placeholder="ایمیل خود را را وارد کنید" aria-label="Email Adress"
                                           required>
                                    <div class="input-group-append">
                                        <button class="btn text-uppercase" type="submit">
                                            عضویت
                                            <i class="icon-long-arrow-left ml-0"></i>
                                        </button>
                                    </div>
                                    <!-- .End .input-group-append -->
                                </div>
                                <!-- .End .input-group -->
                            </form>
                        </div>
                        <!-- End .col-lg-7 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .col-xl-8 offset-2 -->
            </div>
            <!-- End .row -->
        </div>
        <!-- End .container-fluid -->
    </div>
    <!-- End .cta -->
    <div class="container">
        <hr class="mt-0 mb-0" style="border-color: #444;">
    </div>
    <div class="footer-middle border-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-2-5cols">
                    <div class="widget widget-about mb-4">
                        <img src="assets/images/demos/demo-26/logo-footer.png" class="footer-logo"
                             alt="Footer Logo" width="105" height="25">
                        <p class="font-weight-normal second-primary-color">
                            لورم ایپسوم متن ساختگی با تولید سادگی
                            نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
                            نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
                            تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                        </p>

                        <div class="widget-about-info">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <span class="widget-about-title text-white">
                                        سوالی دارید؟ 7روز
                                        هفته/24ساعته
                                    </span>
                                    <a href="tel_3A123456789" class="text-primary">02155667788</a>
                                </div>
                                <!-- End .col-sm-6 -->
                                <div class="col-sm-6 col-md-8">
                                    <span class="pl-3 widget-about-title text-white">روش های پرداخت</span>
                                    <figure class="pl-3 mb-0 footer-payments">
                                        <img src="assets/images/payments.png" alt="Payment methods" width="272"
                                             height="20">
                                    </figure>
                                    <!-- End .footer-payments -->
                                </div>
                                <!-- End .col-sm-6 -->
                            </div>
                            <!-- End .row -->
                        </div>
                        <!-- End .widget-about-info -->
                    </div>
                    <!-- End .widget about-widget -->
                </div>
                <!-- End .col-sm-12 col-lg-3 -->

                <div class="col-sm-4 col-lg-5cols">
                    <div class="widget mb-4">
                        <h4 class="widget-title text-white">اطلاعات</h4>
                        <!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="about.html">درباره ما</a></li>
                            <li><a href="#">خدمات</a></li>
                            <li><a href="#">نحوه خرید</a></li>
                            <li><a href="faq.html">سوالات متداول</a></li>
                            <li><a href="contact.html">تماس با ما</a></li>
                        </ul><!-- End .widget-list -->
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-5cols">
                    <div class="widget mb-4">
                        <h4 class="widget-title text-white">خدمات مشتری</h4>
                        <!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">شیوه پرداخت</a></li>
                            <li><a href="#">گارانتی بازگشت وجه</a></li>
                            <li><a href="#">شیوه ارسال محصولات</a></li>
                            <li><a href="#">قوانین و مقررات</a></li>
                            <li><a href="#">خط مشی</a></li>
                        </ul><!-- End .widget-list -->
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-5cols">
                    <div class="widget mb-4">
                        <h4 class="widget-title text-white">حساب کاربری</h4>
                        <!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">ورود</a></li>
                            <li><a href="cart.html">سبد خرید</a></li>
                            <li><a href="#">لیست علاقه مندی ها</a></li>
                            <li><a href="#">پیگیری سفارشات</a></li>
                            <li><a href="#">راهنما</a></li>
                        </ul><!-- End .widget-list -->
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .col-sm-64 col-lg-3 -->
            </div>
            <!-- End .row -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .footer-middle -->

    <div class="footer-bottom font-weight-normal">
        <div class="container">
            <p class="footer-copyright font-weight-normal ml-lg-2 second-primary-color">
                کپی رایت © 2019 تمامی
                حقوق محفوظ است.
            </p>
            <!-- End .footer-copyright -->
            <ul class="footer-menu justify-content-center">
                <li>
                    <a href="#">قوانین و مقررات</a>
                </li>
                <li>
                    <a href="#">سیاست حریم خصوصی</a>
                </li>
            </ul>
            <!-- End .footer-menu -->

            <div class="social-icons social-icons-color justify-content-center">
                <span class="social-label">شبکه های اجتماعی</span>
                <a href="#" class="social-icon social-facebook" title="فیسبوک" target="_blank">
                    <i class="icon-facebook-f"></i>
                </a>
                <a href="#" class="social-icon social-twitter" title="توییتر" target="_blank">
                    <i class="icon-twitter"></i>
                </a>
                <a href="#" class="social-icon social-instagram" title="اینستاگرام" target="_blank">
                    <i class="icon-instagram"></i>
                </a>
                <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank">
                    <i class="icon-youtube"></i>
                </a>
                <a href="#" class="social-icon social-pinterest" title="پینترست" target="_blank">
                    <i class="icon-pinterest"></i>
                </a>
            </div>
            <!-- End .soial-icons -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .footer-bottom -->
</footer>