@using App.Domain.Core.Entities;
@using Microsoft.AspNetCore.Identity;
@{
    var actionDescriptor = ViewContext.ActionDescriptor;
    var currentController = actionDescriptor.RouteValues["controller"];
    var currentAction = actionDescriptor.RouteValues["action"];
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MarketPlace.styles.css" asp-append-version="true" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/icons/apple-touch-icon.png">
    <link rel="manifest" href="~/assets/images/icons/site.webmanifest">
    <link rel="mask-icon" href="~/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="~/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="~/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery.countdown.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/skins/skin-demo-26.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-26.css">
    <script src="https://kit.fontawesome.com/a890420639.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header header-intro-clearance header-26">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand float-right" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i> خانه
                </a>
                <div class="navbar-collapse justify-content-end me-auto">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <partial name="_LoginPartial"></partial>
                        </li>
                        <li class="nav-item">
                            <partial name="_AdminMenu"></partial>
                        </li>
                        <li class="nav-item">
                            <partial name="_SellerMenu"></partial>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">فهرست</span>
                        <i class="icon-bars"></i>
                    </button>
                    @if (currentController != "Auction" || currentAction != "Index")
                    {
                        <a asp-controller="Auction" asp-action="Index" class="btn btn-primary rounded">مزایدات</a>
                    }
                </div>

                <div class="header-center">
                    <div class="header-search header-search-visible header-search-no-radius">
                        <a href="#" class="search-toggle" role="button">
                            <i class="icon-search"></i>
                        </a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper search-wrapper-wide">
                                <label for="q" class="sr-only">جستجو</label>
                                <input type="search" class="form-control" name="q" id="q"
                                       placeholder="جستجوی محصول ..." required>

                                <button class="btn btn-primary" type="submit">
                                    <i class="icon-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="header-right row">
                    <div class="header-dropdown-link">
                        <div class="dropdown compare-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" data-display="static">
                                <div class="icon">
                                    <i class="icon-random"></i>
                                </div>
                                <p>مقایسه</p>
                            </a>
                        </div>
                        <div class="wishlist">
                            <a href="wishlist.html" title="لیست محصولات مورد علاقه شما">
                                <div class="icon">
                                    <i class="icon-heart-o"></i>
                                </div>
                                <p>علاقه مندی</p>
                            </a>
                        </div>
                        <div class="dropdown cart-dropdown">
                            <a asp-action="Cart" asp-controller="Cart" class="dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" data-display="static">
                                <div class="icon">
                                    <i class="icon-shopping-cart"></i>
                                </div>
                                <p>سبد خرید</p>
                            </a>

                            @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Customer"))
                            {
                                <div class="profile mr-5">
                                    <a asp-action="Index" asp-controller="Profile" title="پروفایل">
                                        <div class="icon">
                                            <i class="fa-solid fa-user"></i>
                                        </div>
                                        <p>پروفایل</p>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-center">
                        <nav class="main-nav">
                        </nav>
                    </div>
                </div>
            </div>
    </header>
</body>
</html>