@using App.Domain.Core.Entities;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Seller")){
    <li class="nav-item">
        <a class="nav-link" asp-area="Seller" asp-controller="Home" asp-action="Index">
            <i class="fa-solid fa-list-check"></i> پنل فروشنده
        </a>
    </li>
}