@model List<ProductCategoryOutputDto>

<div class="col-lg-5cols d-none d-lg-block">
    <nav class="side-nav">
        <div class="sidenav-title letter-spacing-normal font-size-normal d-flex justify-content-xl-between align-items-center bg-primary justify-content-center text-truncate">
            دسته بندی های سایت
            <i class="icon-bars float-right h5 text-white m-0 d-none d-xl-block"></i>
        </div>
        <!-- End .sidenav-title   font-size-normal -->
        <ul class="menu-vertical sf-arrows sf-js-enabled" style="touch-action: pan-y;">
            @foreach (var category in Model)
            {
                @if (category.ParentCategoryId == null)
                {
                    <li>
                        <a href=@Url.Action("StoresByCategory", "Category",new { categoryId = category.Id })>@category.Name</a>
                        <ul>
                            @foreach (var subCategory in Model.Where(c => c.ParentCategoryId == category.Id))
                            {
                                <li>
                                    <a href=@Url.Action("StoresByCategory", "Category", new { categoryId = subCategory.Id })>@subCategory.Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    </nav>
</div>