<div class="col-lg-3-5cols col-md-9 col-12 mb-md-0 mb-2">
    <div class="intro-slider-container">
        <div class="intro-slider owl-carousel owl-theme owl-nav-inside row cols-1"
             data-toggle="owl" data-owl-options='{
                                        "nav": false,
                                        "dots": true,
                                        "rtl": true,
                                        "autoplay": false,
                                        "autoplayTimeout": 10000,
                                        "animateOut": "fadeOut"
                                    }'>
            <div class="intro-slide bg-image d-flex align-items-center"
                 style="background-color:#e8eded; background-image: url(assets/images/demos/demo-26/slider/slide-1.jpg); background-color: #222;">
                <div class="intro-content">
                    <h3 class="intro-subtitle font-size-normal text-dark font-weight-normal text-uppercase">
                        پیشنهاد شگفت انگیز
                    </h3>
                    <!-- End .h3 intro-subtitle font-size-normal -->
                    <h1 class="intro-title text-dark font-weight-bold mb-0">
                        چند کاره
                        <br>غذاساز برقی
                    </h1>
                    <!-- End .intro-title -->

                    <div class="intro-price text-dark font-weight-normal">
                        <sup class="font-weight-normal">
                            از
                            <span class="text-primary font-weight-normal">000,</span>
                        </sup>
                        <span class="text-primary font-weight-bold">
                            199
                            <sup class="font-weight-normal">تومان</sup>
                        </span>
                    </div>
                    <!-- End .intro-price -->

                    <a href="category.html" class="btn btn-primary text-uppercase text-dark">
                        <span>شروع خرید</span>
                        <i class="icon-long-arrow-left"></i>
                    </a>
                </div>
                <!-- End .intro-content -->
            </div>
            <!-- End .intro-slide -->

            <div class="intro-slide bg-image d-flex align-items-center"
                 style="background-color:#e8eded; background-image: url(assets/images/demos/demo-26/slider/slide-2.jpg); background-color: #222;">
                <div class="intro-content">
                    <h3 class="intro-subtitle font-size-normal text-dark font-weight-normal text-uppercase">
                        محصول جدید
                    </h3>
                    <!-- End .h3 intro-subtitle font-size-normal -->
                    <h1 class="intro-title text-white font-weight-bold mb-0">
                        کالکشن جدید!
                        <br>کتونی ورزشی
                    </h1>
                    <!-- End .intro-title -->

                    <div class="intro-price text-white font-weight-normal position-relative mb-3">
                        <div class="position-relative">
                            <sup class="font-weight-normal">از</sup>
                            <span class="font-weight-bold ml-n2">
                                <sup class="font-weight-normal">000,</sup>
                                79 تومان
                            </span>
                        </div>
                        <img src="assets/images/demos/demo-26/slider/slide-2-brushpng.png"
                             class="position-absolute w-auto h-auto" alt="" width="85"
                             height="35">
                    </div>
                    <!-- End .intro-price -->
                    <a href="category.html" class="btn btn-primary text-uppercase text-dark">
                        <span>شروع خرید</span>
                        <i class="icon-long-arrow-left"></i>
                    </a>
                </div>
                <!-- End .intro-content -->
            </div>
            <!-- End .intro-slide -->

            <div class="intro-slide bg-image d-flex align-items-center"
                 style="background-color:#e8eded; background-image: url(assets/images/demos/demo-26/slider/slide-3.jpg); background-color: #fff;">
                <div class="intro-content">
                    <h3 class="intro-subtitle font-size-normal text-white font-weight-normal text-uppercase">
                        طراحی ویژه
                    </h3>
                    <!-- End .h3 intro-subtitle font-size-normal -->
                    <h1 class="intro-title text-white font-weight-bold mt-0 my-2">
                        لامپ های جدید
                        <br>با مواد اولیه طبیعی
                    </h1>
                    <!-- End .intro-title -->

                    <div class="intro-text text-secondary font-weight-lighter mb-4">
                        بیشتر از 25% تخفیف
                    </div>
                    <!-- End .intro-text -->

                    <a href="category.html" class="btn btn-primary text-uppercase text-dark">
                        <span>شروع خرید</span>
                        <i class="icon-long-arrow-left"></i>
                    </a>
                </div>
                <!-- End .intro-content -->
            </div>
            <!-- End .intro-slide -->
        </div>
        <!-- End .intro-slider owl-carousel owl-simple -->
        <!--
            <span class="slider-loader"></span>
        End .slider-loader -->
    </div>
</div>
<div class="col-lg-5cols col-md-3 col-12 mb-md-0 mb-2">
    <div class="banner banner-overlay bg-image h-100 mb-0"
         style="background-color: #f1f1f1; background-image: url(assets/images/demos/demo-26/banners/banner-1.jpg); ">
        <div class="banner-content position-relative pt-0 pb-md-7 d-flex flex-column">
            <div class="title text-center text-uppercase text-dark font-weight-bold mb-0">
                فانتوم 3
                <br>حرفه ای
            </div>
            <div class="price text-center">
                <sup class="text-dark font-weight-normal">
                    از
                    <span class="text-primary font-weight-normal ml-2">000,</span>
                </sup>
                <span class="text-primary font-weight-bold">
                    599
                </span>
                <sup class="text-primary font-weight-bold" style="font-size: 55%; top: -.6em;">
                    تومان
                </sup>
            </div>
        </div>
        <!-- End .banner-content -->
    </div>
    <!-- End .banner banner-overlay -->
</div>