@{
    ViewBag.Title = "خطا";
}

<h2>خطا در جستجوی محصولات.</h2>
<p>در حین جستجوی محصولات خطایی رخ داده است.</p>
<p>لطفاً مجدداً تلاش کنید و در صورت تکرار خطا، با پشتیبانی تماس بگیرید.</p>
<p>خطا: @ViewBag.Error</p>