@model int

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["AlertMessage"]
    </div>
}

<div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">مبلغ کل فروش</h5>
        <p class="card-text">@Model</p>
    </div>
</div>

<div style="float:left;">
    <a class="btn btn-success" asp-controller="Store" asp-action="Create">
        ساخت غرفه
    </a>
    <a class="btn btn-warning" asp-area="Seller" asp-controller="Profile" asp-action="EditProfile">
        به‌روزرسانی پروفایل
    </a>
    <a class="btn btn-secondary" asp-controller="Store" asp-action="StoresList">
        غرفه‌های من
    </a>
</div>

<br />
<br />