<aside class="main-sidebar">
    <div class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>داشبورد</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a asp-controller="Store" asp-action="StoresList"><i class="fa fa-bar-chart"></i> مدیریت غرفه‌ها</a>
                    </li>
                    <li>
                        <a asp-controller="Store" asp-action="Create"><i class="fa fa-plus-square"></i> افزودن غرفه جدید</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>